<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="JavadocMethod">
            <property name="scope" value="package"/>
        </module>
        <module name="JavadocType"/>
        <module name="VisibilityModifier"/>
        <module name="TodoComment">
            <property name="severity" value="warning"/>
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="5"/>
        </module>
        <module name="ConstantName"/>
        <module name="MethodName"/>
        <module name="MemberName"/>
        <module name="ParameterName"/>
        <module name="FallThrough"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField"/>
        <module name="IllegalImport"/>
        <module name="MagicNumber"/>
        <module name="MissingCtor"/>
        <module name="MissingOverride"/>
        <module name="MissingSwitchDefault"/>
        <module name="NPathComplexity"/>
        <module name="NeedBraces"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
    </module>
</module>